[buildout]
develop                 = .
parts                   = bvc
                          test
                          cover
                          flake8
                          coveralls
                          evolve
                          indent
                          epure
show-picked-versions    = true

[bvc]
eggs                    = buildout-versions-checker
recipe                  = zc.recipe.egg

[evolve]
<=                        bvc
arguments               = 'buildout.cfg -w --indent 24 --sorting alpha -e pep8'
scripts                 = check-buildout-updates=${:_buildout_section_name_}

[indent]
<=                        bvc
arguments               = 'buildout.cfg --indent 24 --sorting alpha'
scripts                 = indent-buildout=${:_buildout_section_name_}

[epure]
<=                        evolve
scripts                 = find-unused-versions=${:_buildout_section_name_}

[test]
defaults                = --with-progressive
eggs                    = nose
                          nose-progressive
                          ${bvc:eggs}
recipe                  = pbp.recipe.noserunner

[cover]
<=                        test
defaults                = --with-coverage
                          --cover-erase
                          --cover-package=bvc
eggs                    = nose
                          coverage
                          ${bvc:eggs}

[flake8]
eggs                    = flake8
recipe                  = zc.recipe.egg

[coveralls]
eggs                    = python-coveralls
recipe                  = zc.recipe.egg

[versions]
PyYAML                  = 3.11
blessings               = 1.6
coverage                = 3.7.1
flake8                  = 2.4.0
futures                 = 3.0.2
mccabe                  = 0.3
nose                    = 1.3.6
nose-progressive        = 1.5.1
packaging               = 15.1
pbp.recipe.noserunner   = 0.2.6
pep8                    = 1.5.7
pyflakes                = 0.8.1
python-coveralls        = 2.5.0
requests                = 2.7.0
sh                      = 1.11
six                     = 1.9.0
zc.buildout             = 2.3.1
zc.recipe.egg           = 2.0.1
